body{
        background-color: rgb(7, 0, 10);
        color: rgb(241, 238, 234);

}

section{
        background-color: darkslategrey;
         padding-top: 80px;
         padding-bottom: 80px;
         display: flex;
         justify-content: center;
}

.chamada-texto{
        margin-right: 5%;
}
header{
        font-size: 25px;
        text-align: center;
        margin: 30px;

}
img{
        height: 300px;
}
.categoria-videos{
        display: flex;
        overflow-x: auto;
        gap: 10px;
        margin-right: 10px;

}