body{
        background-color: rgb(0, 0, 0);
        color: rgb(241, 238, 234);

}

.chamada{
        background-color: darkslategrey;
         padding-top: 80px;
         padding-bottom: 80px;
         display: flex;
         justify-content: center;
}

.chamada-texto{
        margin-right: 5%;
}
.categoria{
        padding-left: 20px;
        padding-right: 20px;
}
header{
        font-size: 25px;
        text-align: center;
        margin: 30px;

}
img{
        height: 250px;
}
.categoria-videos{
        display: flex;
        overflow-x: auto;
        gap: 10px;
        margin-right: 10px;

}